body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: blue;
}
h1{
    color: chartreuse;
}
/* Attribute Selector */
a{
    color: #1f970771;
    text-decoration: solid;
}
a :hover{
    color: brown;
}
/* Child Selector */
ul > li{ 
         font-weight: bold;
}
